[defaults]
inventory = inventories/vps/hosts.ini
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
timeout = 30
forks = 10

[ssh_connection]
pipelining = True
